# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# Environment / IDE
.env
.vscode/
.idea/

# Reports output
reports/*.pdf
